<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="\..imagens/pagodeiro.png" type="image/x-icon">
	<title>PAGODE</title>
</head>
<body>
	<h1>Pagodeiro está on the line!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vel ut nam ipsam? Voluptas vitae quaerat temporibus unde vero laborum quos tempore, beatae, nihil saepe sapiente eius numquam, inventore animi?</p>
</body>
</html>